<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.arcao.geocaching4locus"
      android:versionName="1.5" android:versionCode="31"
      android:installLocation="auto">
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:backupAgent=".backup.PreferencesBackupAgent" android:name="Geocaching4LocusApplication" android:allowBackup="true" android:largeHeap="true" android:hardwareAccelerated="true">
        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI11M7Jm9XH3drtBzgQE2yTA2VimFyXPJROK0xaA" />

        <service android:name=".service.SearchGeocacheService"></service>
        <service android:name=".service.LiveMapService"></service>
        
        <receiver android:name=".receiver.LiveMapBroadcastReceiver" >
            <intent-filter>
                <action android:name="locus.api.android.ACTION_PERIODIC_UPDATE" />
            </intent-filter>
        </receiver>

        <activity android:icon="@drawable/ic_launcher_nearest" android:label="@string/launcher_nearest_caches" android:theme="@style/G4LTheme.SearchNearestActivity.Dialog" android:name="com.arcao.geocaching4locus.SearchNearestActivity" android:exported="true">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_SEARCH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="PreferenceActivity" android:label="@string/preferences" android:theme="@style/G4LTheme.Settings"/>
        <activity android:name="ErrorActivity" android:theme="@style/G4LTheme.Invisible" android:launchMode="singleInstance" android:excludeFromRecents="true" android:finishOnTaskLaunch="true"/>
        <activity android:name="UpdateActivity" android:theme="@style/G4LTheme.Invisible" android:exported="true">
            <intent-filter android:icon="@drawable/ic_launcher_update" android:label="@string/launcher_update_cache">
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="locus" />
                <data android:pathPrefix="menion.android.locus/point_geocache" />
            </intent-filter>
        </activity>
        <activity android:name="UpdateMoreActivity" android:theme="@style/G4LTheme.Invisible" android:exported="true">
            <intent-filter android:icon="@drawable/ic_launcher_update" android:label="@string/launcher_update_more_caches">
                <action android:name="locus.api.android.INTENT_ITEM_POINTS_SCREEN_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ImportActivity" android:theme="@style/G4LTheme.Invisible" android:exported="true" android:icon="@drawable/ic_launcher" android:label="@string/launcher_import_cache">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="coord.info" android:pathPrefix="/GC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="geocaching.com" android:pathPrefix="/seek/cache_details.aspx" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.geocaching.com" android:pathPrefix="/seek/cache_details.aspx" />
            </intent-filter>            
        </activity>
        <activity android:name="MenuActivity" android:theme="@style/G4LTheme.MenuActivity" android:exported="true" android:windowSoftInputMode="adjustPan">
            <intent-filter android:icon="@drawable/ic_launcher" android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher" android:label="@string/app_name">
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.AuthenticatorActivity" android:theme="@style/G4LTheme.Invisible" />
        <activity android:name="org.acra.CrashReportDialog" android:theme="@style/G4LTheme.Dialog" android:launchMode="singleInstance" android:excludeFromRecents="true" android:finishOnTaskLaunch="true"/>
        <activity android:name="SendErrorActivity" android:theme="@style/G4LTheme.Dialog" android:launchMode="singleInstance" android:excludeFromRecents="true" android:finishOnTaskLaunch="true"/>
        <activity android:name="ImportFromGCActivity" android:theme="@style/G4LTheme.Invisible" android:exported="true">
            <intent-filter android:icon="@drawable/ic_launcher_gc_input" android:label="@string/launcher_import_from_gc">
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>